.row {
    margin: 1%;
    height:fixed;
}

.container {
    margin:0;

}

button {
    height:100%;
    position: relative;
    bottom: 2px;
}
#videoLink {
    width:80%;
}

#videoLink::placeholder {
    margin-left: 10px;

}

#playlist_div{
    overflow-y:scroll;
    overflow-x:hidden;
    height:400px;
}

#playlist_row{
    height:400px;
    overflow-y:scroll;
    overflow-x:hidden;

}