.row {
    margin: 1%;
    height:fixed;
}

.container {
    margin:0;

}

button {
    height:100%;
    position: relative;
    bottom: 2px;
}
#videoLink {
    width:80%;
}

#videoLink::placeholder {
    margin-left: 10px;

}

#playlist_div{
    overflow-y:scroll;
    overflow-x:hidden;
    height:400px;
}

#playlist_row{
    height:400px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.M{
    display:block;
    width:100%;
    overflow-y: hidden;
    overflow-x: auto;
    text-overflow: ellipsis;
    height:24px;
    border-top: 0.5px solid;
    cursor:pointer;

}
.M:hover{
    background: #d3d3d3;
}
#control{
    text-align: center;
}
#control>i{
    margin-right: 5px;
}